@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

h2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway;
  color: rgb(218, 19, 19);
  letter-spacing: 1px;
}



.card-form{
    
    width: 700px;
    border-radius: 1px;
    background: white;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
}

.form-body{
    padding: 10px;
}
input[type="text"]{
    appearance: none;
    width: 50%;
    margin: 5px 30px;
    height: 15px;
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #e8ebed;
    color: #576366;
    font-size: 14px;
  }
  input[type="password"]{
    appearance: none;
    width: 50%;
    margin: 0 15px;
    height: 15px;
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #e8ebed;
    color: #576366;
    font-size: 14px;
  }